@charset "utf-8";
/* CSS Document */
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;}
img{display:block;}
a img{border:0;}
input,textarea,select{outline:none;}
table{border-collapse:collapse;}
th{font-weight:100;}

.left{float:left;}
.right{float:right;}
.cu{cursor:pointer;}
.over{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.czdq{display:inline-block;width:0;height:100%;vertical-align:middle;}

.clear{zoom:1;}
.clear:after{content:"";clear:both;display:block;height:0;overflow:hidden;visibility:hidden;}














